---
import { Image } from 'astro:assets';
import rustyLogImage from '../assets/images/rusty-log.png';
---

<section class="bg-green-50 py-10 md:py-16">
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class="mb-10 max-w-3xl text-center md:mx-auto md:mb-12">
      <h2 class="font-display mb-4 text-4xl font-semibold leading-tight tracking-tight md:text-5xl">About us</h2>
    </div>
    <div class="md:flex md:gap-16">
      <div class="self-center md:basis-1/2">
        <div class="text-muted mx-auto max-w-3xl text-left text-xl">
          <p>
            At <span class="font-semibold">Fresh Beginnings Publishing</span>, we are a Cleveland-based publishing
            company dedicated to creating books that captivate the hearts and minds of children. Our mission is to
            inspire young readers with imaginative stories featuring unique characters who embark on courageous
            journeys to conquer their fears. With a focus on creativity and storytelling, our books offer engaging
            and thought-provoking experiences for children of all ages.
          </p>
          <br />
          <p>
            Founded by a Speech-Language Pathologist, our stories aim to empower caregivers and educators to help
            children develop the skills they need to succeed. We believe that every child deserves the opportunity
            to learn and grow. Each page is crafted with care to ignite the love for reading, foster imagination,
            and encourage personal growth. Join us on this extraordinary journey as we bring these captivating
            stories to life. Explore our collection now!
          </p>
        </div>
      </div>
      <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
        <div class="relative mx-auto max-w-md">
          <Image
            src={rustyLogImage}
            alt="Rusty Hello Sketch"
            widths={[400, 768]}
            sizes="(max-width: 768px) 100vw, 432px"
            class="mx-auto w-full"
            format="webp"
          />
        </div>
      </div>
    </div>
  </div>
</section>
